*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 13px;
}




/* GENERAL */
body{
    display: flex;
    flex-wrap: wrap;
}

.button{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}
 
i{
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

h1{
    font-size: 2rem;
    padding-top: 30px;
}

h2{
    padding: 10px 0;
}
  



/* LEFT NAV */
.left-nav{
    width: 180px;
    height: calc(100vh - 70px);
    background-color: black;
    padding: 20px 10px;
    
    transition: 200ms;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo{
    display: inline-block;
    width: 80%;
}

.logo.small{
    display: none;
}

.left-nav-top>div:first-of-type{
    padding: 1rem 0;
}












/* MAIN */
main{
    width: calc(100% - 180px);
    height: calc(100vh - 70px);
    background-color: #141922;

    overflow-y: auto;
    position: relative;

}

.upgrade{
    height: 70px;
    width: calc(100% - 180px);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container{
    margin-top: 70px;
    padding: 15px;
}

.main-gps{
    display: flex;
    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;
    
}

.row{
    max-width: 100%;
    padding: 15px 0;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.canvas{
    width: calc(100% / 6 - 15px );
    padding-bottom: 10px;
    border-radius: 25px;

    transition: 500ms;

}

.canvas>div{
    position: relative;
}

.canvas:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.canvas:hover>div>img{
    filter: brightness(60%);
}

.overlay>i{
    font-size: 3rem;
    display: none;
}

.canvas:hover>div>.overlay>i{
    display: block;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.round{
    border-radius: 50%;
    overflow: hidden;
}











/* BOTTOM NAV */
.bottom-nav{
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #282828;
    
    display: flex;
    justify-content: space-between;

}

.bn-left{
    min-width: 180px;
    height: 100%;
    background-color: grey;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bn-left>div{
    height: 100%;
}

.artist-info{
    padding-left: 5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}











.bn-mid{
    min-width: 180px;
    height: 100%;
    background-color: grey;
    
}

.bn-right{
    min-width: 180px;
    height: 100%;
    background-color: grey;
    
}












/* TABLET */
@media screen and (max-width:768px) {
    .canvas{
        width: calc(100% / 4 - 15px );
    }
}




/* MOBILE 1*/
@media screen and (max-width:568px) {
    
    .canvas{
        width: calc(100% / 2 - 15px );
    }
    
}











/* MOBILE 2*/
@media screen and (max-width:400px) {
    
    
    main{
        width: calc(100% - 40px);

    }
    .upgrade{
        width: calc(100% - 40px);
    }



    /* LEFT NAV */
    .left-nav{
        width: 40px;
    }

    .logo{
        display: none;
        width: 100%;
    }
    
    .logo.small{
        display: inline-block;
    }

    .dns{
        display: none;
    }

    
}