*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 13px;
}




/* GENERAL */
body{
    display: flex;
    flex-wrap: wrap;
}

.button{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}
 
i{
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

h1{
    font-size: 2rem;
    padding-top: 30px;
}

h2{
    padding: 10px 0;
}
  



/* LEFT NAV */
.left-nav{
    width: 200px;
    height: calc(100vh - 70px);
    background-color: black;
    padding: 20px 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo{
    display: inline-block;
    width: 80%;
}

.logo.small{
    display: none;
}

.left-nav-top>div:first-of-type{
    padding: 1rem 0;
}












/* MAIN */
main{
    width: calc(100% - 200px);
    height: calc(100vh - 70px);
    background-color: #141922;

    overflow-y: auto;
    position: relative;

}

.upgrade{
    height: 70px;
    width: calc(100% - 200px);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container{
    margin-top: 70px;
    padding: 15px;
}

.main-gps{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.row{
    max-width: 100%;
    min-width: 300px;
    padding: 15px 0;

    text-align: center;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.canvas{
    width: calc(100% / 6 - 15px );
}











/* BOTTOM NAV */
.bottom-nav{
    width: 100%;
    height: 70px;
    background-color: #282828;

}












/* TABLET */
@media screen and (max-width:768px) {
}



/* MOBILE */
@media screen and (max-width:320px) {
    
    
    main{
        width: calc(100% - 40px);

    }
    .upgrade{
        width: calc(100% - 40px);
    }



    /* LEFT NAV */
    .left-nav{
        width: 40px;
    }

    .logo{
        display: none;
        width: 100%;
    }
    
    .logo.small{
        display: inline-block;
    }

    .dns{
        display: none;
    }
}