*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 13px;
}




/* GENERAL */
body{
    display: flex;
    flex-wrap: wrap;
}

.button{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}




/* LEFT NAV */
.left-nav{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
}



/* MAIN */
main{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: #141922;

    overflow-y: auto;
    position: relative;

}

.upgrade{
    height: 70px;
    width: calc(100% - 200px);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade>.button{

}

.container{
    margin-top: 100px;
}


/* BOTTOM NAV */
.bottom-nav{
    width: 100%;
    height: 100px;
    background-color: #282828;

}












/* TABLET */
@media screen and (max-width:768px) {
}



/* MOBILE */
@media screen and (max-width:320px) {

    .left-nav{
        width: 40px;
    }

    
    main{
        width: calc(100% - 40px);

    }

}